.classification {
    
    .containerclassification {
        width: 100%;
        height: auto;
        margin: auto;
    
        h1 {
            width: 1100px;
            margin: auto;
            font-size: 36px;
            text-align: left;
            background-color: white;
            
        }     
    
        
    }
}